<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static '' %}{{css_file}}"/>
    </head>

    <header>
        <div onclick="window.location.href=window.location.origin+'/'">Home</div>
        <div onclick="window.location.href=window.location.origin+'/accounts/logout/'">Logout</div>
    </header>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>