{% include "customer/base.html" with css_file='customer/bookingReview.css' %}
    {% block content %}
    <form method="post" action="{% url 'payment' %}">
        {% csrf_token %}
        <h1>Your total is: £{{total}}</h3>
        <p>Students tickets: {{students}} students x £6 = £{% widthratio students 1 6 %} </p>
        <p>Children tickets: {{children}} children x £4 = £{% widthratio children 1 4 %}</p>
        <p>Adults tickets: {{adults}} adults x £8 = £{% widthratio adults 1 8 %}</p>

        <h3>If you think everything is correct</h3>
        <input hidden value="{{students}}" name="students"/>
        <input hidden value="{{children}}" name="children"/>
        <input hidden value="{{adults}}" name="adults"/>
        <input hidden value="{{showing_id}}" name="showing_id"/>
        <button>Pay</button>
    </form>
    {% endblock %}    