{% include "customer/base.html" with css_file='customer/showings.css' %}
    {% block content %}
        <h1>Showing's details</h1>
        <div class="showing_container">
            <h3>{{ film.title}}</h3>
            <p><b>On the:</b> {{ showing.date | date:'d M Y' }}</p>
            <p><b>At:</b> {{ showing.time | time:'H:i:s' }}</p>
            <p><b>Plot:</b> {{ film.description }}</p>
            <p><b>Age Rating:</b> {{ film.age_rating }}</p>
        </div>

        <div class="buttons_container">
            <button onclick="window.location.href=window.location.origin+'/'">Back</button>
            <button onclick="window.location.href=window.location.origin+'/customer/select_tickets/{{showing.pk}}'">Book Now!</button>
        </div>
    
    {% endblock %}    