{% include "customer/Base.html" with css_file='customer/showings.css' %}
    {% block content %}
        <div class="showings_list">
                <div class="showing_container">
                    <h3>{{ film.title}}</h3>
                    <td>{{ showing.date | date:'d M Y' }}</td>
                    <td>at {{ showing.time | time:'H:i:s' }}</td>
                    <div>Plot: {{ film.description }}</div>
                    <div>Age Rating: {{ film.age_rating }}</div>
                </div>
        </div>

        
        <button>Back</button>
        <button onclick="window.location.href=window.location.origin+'/customer/select_tickets/{{showing.pk}}'">Book Now!</button>
    {% endblock %}    